@charset "utf-8";

@import url{('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');}

html,body {
 font-family: font-family: "Kanit", sans-serif;
 font-weight: 400;
 font-style: normal; color: #333;
}

.header{width: 95%; height: 120px; max-width: 1180px; margin: 0 auto;}

.gnb{display: flex; justify-content: flex-end; }
.gnb>li{margin:15px; font-size: 12px; line-height: 30px;}


.nav{display: flex; justify-content: space-between; align-items: center; height: 60px;}
.logo{display: flex; justify-content: center; align-items: center;}
.logo img{width: 80%}

.menu{display: flex; font-size: 14px; letter-spacing: 2px;}
.menu>li{ line-height: 60px;}
.menu>li:nth-of-type(1){font-weight: bold;}
.menu>li:nth-of-type(2){font-weight: bold;}
.menu>li:nth-of-type(3){font-weight: bold;}
.menu a{display: block; padding: 0 20px;border-bottom: 4px solid white; }
.menu a:hover{ transition: all 0.3s; border-bottom: 4px solid black;}


.main{width: 100%; height: calc(100vh - 121px); background-color: #333; position: relative;}
.main>video{width: 100%; height: 100%; display: block; object-fit: cover; opacity: 0.2;}
/*  object-fit: cover 비디오가 유지하려하는 비율 수정가능 */

.title{position: absolute;  width: 95%; max-width: 1180px; left: 0; right: 0; margin: auto; top: 30%;}
/* left: 0; right: 0; margin: auto; 좌우 가운데 정렬 */

.title>h1{color: white; font-size: 5vw;}
.title>p{color: white; line-height: 180%; margin-bottom: 20px;}
.title>a{color: black; border: 1px solid white;  display: block; text-align: center; width: 350px; line-height: 20px; font-size: 14px; padding: 5px;background-color: white; font-weight: bold;}
.title>a:hover{ color: #a5a5a5; transition: all 0.5s;}


.contents{width: 95%;  max-width: 1180px;margin: 0 auto; padding: 200px  0px;}
.contents>h2{text-align: center; font-weight: bold;}
.list{display: flex; justify-content: space-between; align-items: center; margin-top: 50px;}
.list>li{width: 30%;}
.list img{width: 250px; height: 350px; }
.list a{display: block;}
.list p:nth-of-type(1){font-weight: bold; margin: 5px;}
.list p:nth-of-type(2){font-size: 13px;}
.list a:hover>img{opacity: 0.7; filter: grayscale(100%); }
.list a:hover p:nth-child(2){color: #999;}


.footer{ background-color: black;padding: 40px 0; }
.f_wrap{width: 95%; max-width: 1180px; margin: 0 auto;}
.f_logo{font-size: 24px; font-weight: bold; letter-spacing: 3px; color: #ddd; text-align: center; margin: 30px;}
.f_top{border-bottom: 1px solid #ddd; padding: 10px;}
.f_menu{display: flex; justify-content: space-evenly; align-items: center;}
.f_menu>li{margin: 0 10px; font-size: 13px; color: #ddd;}

.copyright{font-size: 12px; color: #ddd; margin: 10px; text-align: center;}


















@media all and (max-width:1024px){
.header{width: 100%;}
.menu{display: none;}
.gnb{background-color: #eee;}
.gnb>li{margin: 5px 15px;}
.nav{height: 80px;}
.logo{ margin-left: 45%;}

.m_btn{width: 50px; height: 30px; display: flex; flex-direction: column; justify-content: space-around; align-items: center; cursor: pointer; margin-right: 15px;}
.m_btn>span{width: 30px; border-top: 2px solid black;}

.m_menu{position: absolute; left: 0; top: 120px; z-index: 10; background-color: #ffffffbb; width: 100%; border-top: 1px solid #eee;}
.m_menu>li{line-height: 50px; font-weight: bold; background-color: white;}
.m_menu a{display: block; padding-left: 15px;display: flex; justify-content: space-between;}
.m_menu img{width: 8px; height: 14px; margin-top: 15px; margin-right: 15px;}


.title{text-align: center;}
.title>h1{font-size: 10vw;}
.title>a{margin: 0 auto;}


.list{flex-wrap: wrap; margin-left: 15%;}
.list>li{width: 50%; margin-bottom: 30px; text-align: center;}
.list a{width: 70%;}
}

@media all and (max-width:767px){

 .list>li{width: 100%;}
 .list img{filter:grayscale(0%); height: 350px;}

 .f_top{flex-direction: column;  align-items: center;}
 .f_menu{margin-top: 20px;}
 .copyright{text-align: center;}
}


@media all and (min-width:1025px){
 .mobile{display: none;}
}
